$bg-color: #000;
$font_color: white;
$bottom_margin: 20px;
$letter_space: 3px;
$text_color: #e42525;

@mixin header {
    margin-top: 10px;
    margin-bottom: $bottom_margin;
    background-color: $bg-color;
    height: 150px;
    display: grid;
    place-items: center;
}

@mixin receiptButton {
    width: 30%;
    background-color: #e42525;
    margin-top: 20px;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 10px 0px 10px;
}

.main-div {
    margin: 20px;
    color: $font_color;
    width: 70%;

}

.xyz {
    display: flex;

}

.menu {
    @include header;
}

.menu h2 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: $letter_space;
}

.menu span {
    color: $text_color;
    font-size: 18px;
    letter-spacing: 2px;
}

hr {
    border: 2px solid black;
}

ul {
    list-style-type: "🍔";
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    padding: 5px 0 5px;
    letter-spacing: 1px;
    color: black;
}

li {
    padding-left: 10px;
}

.coloumn-one {
    margin-top: 20px;
    display: flex;
}



.items {
    letter-spacing: $letter_space;
    width: 50%;
    border: 4px solid $bg-color;
    min-height: 500px;
}

.burger {
    background-color: $bg-color;
    height: 100px;
    display: grid;
    text-transform: uppercase;
    place-items: center;
    margin-bottom: 10px;
}

.burger_name {
    margin: 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.catchy {
    width: 50%;
    display: flex;
}

.catchy img {
    width: 100%;
    border-radius: 10px;
}

.burger_rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 20px;
}

.burger_rate button {
    padding: 10px 0px 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: $text_color;
    margin: 5px 0px 5px;

}

.burger_rate button:hover {
    background-color: #0274be;
}

.burrito {
    width: 50%;
    margin-left: 20px;
    color: black;
}

.burrito-burger {
    height: 100px;
    display: grid;
    text-transform: uppercase;
    place-items: center;
    margin-bottom: 10px;
}

.burger-image {
    width: 80%;
    margin: auto;

}

.burger-image img {
    border-radius: 10px;
    width: 100%;

}

.queries {
    text-align: center;
}

.text-order {
    margin-bottom: $bottom_margin;
}

.Drinks {
    background-color: $bg-color;
    height: 100px;
    display: grid;
    color: white;
    text-transform: uppercase;
    place-items: center;
    margin-top: 93px;
}

.invoice {
    width: 30%;
    margin-top: 30px;

}

.invoice h2 {
    text-align: center;
    padding-top: 20px;
}

thead {
    background-color: $bg-color;
    color: $font_color;
}

table {
    width: 95%;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.print {
    @include receiptButton;
    width: 15%;
    font-size: 18px;
}

.quantity {
    word-spacing: 2px;
}

.quantity button {
    word-spacing: 2px;
    background-color: #e42525;
    color: white;
    padding: 2px 3px 2px 3px;
}

.remove {
    @include receiptButton;
    font-size: 14px;
    margin-top: 20px;
    width: 50%;
}