
  <div class="xyz">


    <div class="main-div">
      <hr />
      <div class="menu">
        <h2>MENU</h2>
        <span>Daily Fresh Fast Food Salad</span>
      </div>
      <div>
        <hr />
        <ul>
          <li>since2021</li>
          <li>Open 7 days a Week</li>
          <li>4pm to 2pm</li>
        </ul>
        <hr />
      </div>
      <div class="coloumn-one">


        <div class="items">
          <div class="burger">
            <h2>Catchy Burgers</h2>
          </div>
          <hr />
          <div class="burger_name">
            <div class="catchy">
              <img src="../assets/burger.jpg">
            </div>
            <div class="burger_rate">

              <button (click)="onAddCart(item)" *ngFor="let item of burgers">{{item.name}}
                {{item.price}}</button>
            </div>
          </div>

          <hr />
          <div class="burger">
            <h2>Vegan Shwarma</h2>
          </div>
          <hr />
          <div class="burger_name">
            <div class="catchy">
              <img src="../assets/Shawarma.jpg">
            </div>
            <div class="burger_rate">
              <button (click)="onAddCart(item)" *ngFor="let item of shawarma">{{item.name}}
                {{item.price}}</button>

            </div>

          </div>
          <hr />
          <div class="burger">
            <h2>Pasta</h2>
          </div>
          <hr />
          <div class="burger_name">
            <div class="catchy">
              <img src="../assets/pasta.jpg">
            </div>
            <div class="burger_rate">
              <button (click)="onAddCart(item)" *ngFor="let item of pasta">{{item.name}}
                {{item.price}}</button>

            </div>

          </div>
        </div>
        <div class="burrito">
          <div class="burrito-burger">
            <h2>Burger ❌ Burito</h2>
          </div>
          <div class="burger-image">
            <img src="../assets/fastfood.jpg">
          </div>
          <hr style="margin: 20px 0px 30px;" />
          <div class="queries">
            <div class="text-order"><span>---------For Quries & Orders---------</span></div>
            <div class="text-order"> <span>0211-445577 & 042-8899441</span></div>
            <hr />
            <div class="Drinks">
              <h2>Drinks</h2>
            </div>
            <hr />
            <div class="burger_name">
              <div class="catchy">
                <img src="../assets/drinks.jpg">
              </div>
              <div class="burger_rate">
                <button *ngFor="let item of Drinks; let i = index" (click)="onAddCart(item)">
                  {{item.name}} {{item.price}}</button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="invoice" id="print-section">
      <h2>Burger ❌ Burito Invoice</h2>
      <div class="table">


        <table>
          <thead>
            <tr>
              <td>Item</td>
              <td>Quantity</td>
              <td>Price</td>
              <td>Total Bill Is </td>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let list of listItems;" ng-init="subTotal=list.price*list.quantity" >
               
              <td>{{list.name}}</td>
              <td>
          <div class="quantity">
            <button (click)="decrement(list)"><i class="fa fa-minus"></i></button>
            <span>{{list.quantity}}</span>
            <button (click)="increment(list)"><i class="fa fa-plus"></i></button>
          </div>

              </td>
              <td>{{list.price}} </td>
            <td>  <span>RS: {{list.price*list.quantity}}</span></td>
          </tr>
         

            <span>{{myDate | date:'medium'}}</span>
          </tbody>
        </table>
        <button printSectionId="print-section"
        [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}"
        class="print" ngxPrint><i class="fa fa-print"></i></button> 
<br/>
<button  class="remove" (click)="deleteLocalStorage()">Remove Local Storage</button>
      </div>
    </div>
  </div>
