<!-- <div class="invoice">
    <h2>Burger ❌ Buuito Invoice</h2>
    <div class="table">


      <table >
        <thead>
          <tr >
            <td>Item</td>
            <td>Quantity</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of burgers" >

            <td>{{item.name}}</td>
            <td>Quantity </td>
            <td><button>Print</button> </td>
          </tr>

          <span>{{myDate | date:'medium'}}</span>
        </tbody>
      </table>
    </div>
  </div> -->